.todo-container {
    height: calc(100% - 80px);
    width: 240px;
    top: 80px;
    position: absolute;
    z-index: 1;
    padding-top: 0px;
    background-color: #B5FFFC;
    padding-left: 10px;
    border-bottom: 0;
}

.time {
    width: 300px;
    height: 75px;
    padding-bottom: 15px;
}

.time h3{
    text-transform: uppercase;
}

.time input {
    font-size: 12px;
    border: hidden;
    box-shadow: 3px 3px 5px #aaaaaa;
    border-radius: 4%;
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.7);
}
.note-container {
    width: 300px;
    height: 270px;
    margin-top: 0;
    padding-bottom: 15px;
}

.note-container h3{
    text-transform: uppercase;
}

.note-container .textBox {
    
    height: 206.53px;
    width: 206.54px;
    margin-left: 10px;
    border-radius: 4%;
    border: hidden;
    box-shadow: 3px 3px 5px #aaaaaa;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 7px;
}

textarea {
    resize: none;
}

.note-container .colorSelect {
    margin-left: 130px;
}

.topic-container {
    margin-left: 0px;
    width: 235px;
}
.topic {
    width: 300px;
    height: 120px;
}
.topic h3{
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    padding-left: 14px;
}

h3 {
    margin-top: 0;
    margin-bottom: 10px;
}
input {
    margin-left: 10px;
}
.colorText {
    margin-left: 135px;
    margin-top: 5px;
}

input[type=color]{
	width: 20px;
	height: 20px;
	border: none;
	background: none;
    margin-left: 67px;
    margin-top: -18px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: solid 1px #000; /*change color of the swatch border here*/
	border-radius: 60%;
}

:checked{
 
    border: 1px solid red;
}

.topic-table {
    border: 0;
}

.topic-container {
    position: relative;
    margin-left: -3px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .topic-container li{
    margin-top: 12;
    margin-bottom: 5px;
    margin-left: -10;
    padding-bottom: 5;
  }
  .checkmark {
    position: fixed;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    padding: 2px;
  }
  /* On mouse-over*/
.container1:hover input ~ .checkmark {
    background-color: #FFDEE9;
  }
  
  /* When the checkbox is checked*/
  .container1 input:checked ~ .checkmark {
    background-color: #000;
  }
  
  /* Hidden when not checked */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container1 input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark*/
  .container1 .checkmark:after {
    left: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .mentes {
    margin-top: 90px;
    margin-left: 85px;
}